a {
  text-decoration: none !important;
}

body {
  font-family: Barlow;
  font-style: normal;
}

.bbest-zoom-news-lead {
  display: flex;
  margin-top: 24px;
  margin-bottom: 16px;
}

.bbest-zoom-title-header {
  font-weight: 600;
  font-size: 52px;
  line-height: 56px;
  color: #000099;
}
.bbest-zoom-news-title h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: #000099;
}
.bbest-zoom-news-text-md {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #0066ff;
}
.bbest-zoom-news-item-image {
  width: auto;
  max-height: 268px;
  overflow: hidden;
  height: 100%;
  border-radius: 20px 20px 0px 20px;
  border: 1px solid #0066ff12;
}

.bbest-zoom-news-item-image img {
  object-fit: cover;
  transition: transform 0.5s ease;
  width: 100%;
  height: 100%;
}

.bbest-zoom-news-item-image img:hover {
  transform: scale(1.1);
}

.bbest-zoom-news-title {
  margin-bottom: 48px;
}

.bbest-zoom-container-news .bbest-zoom-news-text-md {
  font-size: 18px;
}

.bbest-zoom-container-news .bbest-zoom-news-view {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
  width: 100%;
}

.bbest-zoom-container-news .bbest-zoom-news-view h5 {
  padding-bottom: 4px;
}

.bbest-zoom-news-view-mobo {
  display: none;
}

.bbest-zoom-news-item-image {
  cursor: pointer;
}

.bbest-zoom-content .col-6 {
  position: relative;
}

.bbest-zoom-last-news {
  position: relative;
}

.bbest-zoom-another-news {
  position: relative;
  height: 100%;
}

.bbest-zoom-another-news .icon {
  margin-right: 37px;
}

.bbest-zoom-another-news .bbest-zoom-news-title {
  margin-bottom: 20px;
}

.bbest-zoom-last-news a {
  cursor: pointer;
  display: block;
  height: auto;
}

.bbest-zoom-last-news .icon {
  opacity: 0;
}

.bbest-zoom-another-news .icon {
  opacity: 0;
}
.bbest-zoom-last-news .icon-container {
  position: absolute;
  bottom: -30px;
  right: 8px;
}

.bestzoom-news-text {
  margin-bottom: 50px;
}
.bbest-zoom-another-news .icon-container {
  position: absolute;
  right: 0px;
}

.bbest-zoom-last-news a:hover .icon {
  opacity: 1;
  -webkit-animation-name: icon-hover;
  animation-name: icon-hover;
}

.bbest-zoom-another-news div a:hover .icon {
  opacity: 1;
  animation-name: icon-hover;
}

.bbest-zoom-another-news div a {
  display: block;
  height: 100%;
}

.bbest-zoom-container-news .bbest-zoom-header {
  margin-bottom: 58px;
}

.bbest-zoom-news-view span {
  width: 0.05%;
  height: 1.5px;
  display: block;
  background: #0066ff;
  margin-top: 7px;
  float: right;
  opacity: 0;
}

.bbest-zoom-news-view h5:hover span {
  opacity: 1;

  animation: hover-bottom 1s;
}

@keyframes hover-bottom {
  0% {
    width: 100%;
  }

  100% {
    width: 0.05%;
  }
}

.bbest-zoom-content-header-inner .content {
  margin-bottom: 13px;
}

.bbest-zoom-content {
  min-height: 500px;
}
/* Responsive breakpoints */
@media (max-width: 767.98px) {
  .bbest-zoom-container-news .bbest-zoom-news-view {
    display: none !important;
  }
  .bbest-zoom .mobo {
    display: flex;
    justify-content: center;
    margin-top: 90px !important;
    cursor: pointer;
  }
  .bbest-zoom .mobo h5 {
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    margin-top: 38px;
  }

  .bbest-zoom .bbest-zoom-news-item-image {
    width: auto;
    max-height: 180px;
    border-radius: 0px 20px 20px 20px;
  }
  .bbest-zoom .bbest-zoom-news-title {
    margin-bottom: 14px;
  }
  .bbest-zoom .bbest-zoom-another-news {
    margin-top: 42px !important;
  }
  .bbest-zoom-container-news .bbest-zoom-header {
    margin-bottom: 26px;
  }

  .bbest-zoom-news-lead {
    margin-top: 13px;
    margin-bottom: 15px;
  }

  .bestzoom-news-text {
    margin-bottom: 0px;
  }
}

@media (max-width: 991.98px) {
  .bbest-zoom {
    margin-bottom: 70px;
  }
  .bbest-zoom .bbest-zoom-news-title h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
  }
  .bbest-zoom .bbest-zoom-container-news .bbest-zoom-news-text-md {
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
  .bbest-zoom .bestzoom-first-news-content .bbest-zoom-news-text-md {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }
  .bbest-zoom .bbest-zoom-another-news {
    margin-top: 54px;
  }
}

@media (max-width: 1200px) {
  .bbest-zoom .bbest-zoom-another-news {
    margin-top: 54px;
  }
}
